.menu {

  width: 185px;
  
  &__item {
    display: flex;
    align-items: center;
    border-radius: 15px;

    &--active {
      background: #ff5454;

      .menu {
        &__icon {
          background: #df4545;

          &:before {
            background: #fff;
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 44px;

    background: #ffffff;
    border-radius: 15px;

    margin-right: 45px;

    &:before {
      content: "";
      display: inline-block;
      height: 15px;
      width: 15px;
      background: black;
    }
  }

  &__title {
    color: black;
  }
}
